---
title: Test Jetro
---
{% extends "layouts/_layout.html" %}

{% block content %}
	

<div class="wrapper"><!-- START WRAPPER -->

	<header><!-- START HEADER -->
		<div class="logo">
			<h2 class="logo__name">jet<span>ro</span></h2>
			<nav class="logo__nav">
				<ul>
					<li><a href="#">home</a></li>
					<li><a href="#">about us</a></li>
					<li><a href="#">blog</a></li>
					<li><a href="#">portfolio</a></li>
					<li><a href="#">contact us</a></li>
				</ul>
			</nav>
		</div>
	</header><!-- END HEADER -->

	<main><!-- START MAIN -->

		<div class="section top"><!-- START SECTION -->
			<div class="empty-block"></div>
			<div class="main-content color-bg">
				<p class="main-content__name">blog</p>
			</div>
			<div class="empty-block"></div>
		</div><!-- END SECTION -->

		<div class="section"><!-- START SECTION -->
			<aside class="aside-main">
				<img class="aside-main__img" src="../img/copy.jpg" alt="Image copy">
			</aside>
			<div class="main-content">
				<div class="blog">
					<div class="img">
						<img class="img__picture" src="../img/jetro.jpg" alt="Jetro">
						<!-- <div class="img__picture--btn">
							<button id="prew"></button>
							<button id="next"></button>
						</div> -->
					</div>
				<div class="blog__info">
					<div class="blog__info--info">
						<p class="middle">date</p>
						<p class="small gray-light">April 15, 2012</p>
						<p class="middle">tags</p>
						<p class="small gray-light">Website | Design</p>
						<p class="middle">comments</p>
						<p class="small gray-light">4</p>
					</div>
					<div class="blog__info--desc">
						<p class="bigger">Top WordPress Themes of 2012</p>
						<p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa eum dignissimos aliquid blanditiis soluta odio officia nulla minus molestiae officiis itaque, dicta eius tenetur adipisci, illum architecto perferendis. Labore, placeat cum sequi suscipit ut, eum fuga natus quaerat eveniet ratione non rem qui ullam perferendis. Accusantium neque quod fugiat natus esse amet at ipsa voluptas ipsum, est non architecto.</p>
						<p class="small">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
					</div>
				</div>
			</div>

				<div class="aside"><!-- start aside -->
					<div class="aside__about">
						<div class="aside__caption">
							<span class="aside__caption--text middle">about jetro</span><span class="aside__caption--separator"></span>
						</div>
						<p class="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi libero debitis eveniet voluptates ducimus optio sequi facilis ad pariatur vero. Ipsa consequatur non ea reprehenderit ratione delectus, cumque quia sapiente?</p>
					</div>
					<div class="aside__categories">
						<div class="aside__caption">
							<span class="aside__caption--text middle">categories</span><span class="aside__caption--separator"></span>
						</div>
						<p class="small">Viseo (3)</p>
						<p class="small">Sports (5)</p>
						<p class="small">Media (2)</p>
						<p class="small">intertainment (7)</p>
						<p class="small">Life (4)</p>
						<p class="small">Super cool life (8)</p>
					</div>
					<div class="photo">
						<div class="aside__caption">
							<span class="aside__caption--text middle">photo gallery</span><span class="aside__caption--separator"></span>
						</div>
						<div class="photo__gallery">
							<div class="photo__gallery--img"></div>
							<div class="photo__gallery--img"></div>
							<div class="photo__gallery--img"></div>
							<div class="photo__gallery--img"></div>
							<div class="photo__gallery--img"></div>
							<div class="photo__gallery--img"></div>
							<div class="photo__gallery--img"></div>
							<div class="photo__gallery--img"></div>
						</div>
					</div>
				</div><!-- end aside -->

			</div>
			<aside class="aside-secondary"></aside>
		</div><!-- END SECTION -->

		<div class="separator">
			<img src="../img/separator.png" alt="Separator">
		</div>

		<div class="section"><!-- START SECTION -->
			<aside class="aside-main">
				<img class="aside-main__img" src="../img/file.jpg" alt="Image file">
			</aside>
			<div class="main-content">
				<div class="blog">
					<div class="img">
						<img class="img__picture" src="../img/jesus.jpg" alt="Jesus">
					</div>
					<div class="blog__info">
						<div class="blog__info--info">
							<p class="middle">date</p>
							<p class="small gray-light">April 15, 2012</p>
							<p class="middle">tags</p>
							<p class="small gray-light">Website | Design</p>
							<p class="middle">comments</p>
							<p class="small gray-light">4</p>
						</div>
						<div class="blog__info--desc">
							<p class="bigger">Jesus  Typography  Wallpaper  Giveaway!</p>
							<p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa eum dignissimos aliquid blanditiis soluta odio officia nulla minus molestiae officiis itaque, dicta eius tenetur adipisci, illum architecto perferendis. Labore, placeat cum sequi suscipit ut, eum fuga natus quaerat eveniet ratione non rem qui ullam perferendis. Accusantium neque quod fugiat natus esse amet at ipsa voluptas ipsum, est non architecto.</p>
							<p class="small">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
						</div>
					</div>
				</div>
				<div class="aside"></div>
			</div>
			<aside class="aside-secondary"></aside>
		</div><!-- END SECTION -->

		<div class="separator">
			<img src="../img/separator.png" alt="SeparatorSeparator">
		</div>

		<div class="section"><!-- START SECTION -->
			<aside class="aside-main">
				<img class="aside-main__img" src="../img/play.jpg" alt="Image play">
			</aside>
			<div class="main-content">
				<div class="blog">
					<div class="img">
						<img class="img__picture" src="../img/movie.jpg" alt="Movie">
					</div>
					<div class="blog__info">
						<div class="blog__info--info">
							<p class="middle">date</p>
							<p class="small gray-light">April 15, 2012</p>
							<p class="middle">tags</p>
							<p class="small gray-light">Website | Design</p>
							<p class="middle">comments</p>
							<p class="small gray-light">4</p>
						</div>
						<div class="blog__info--desc">
							<p class="bigger">Big  Buck  Bunny  Trailer</p>
							<p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima ipsa eum dignissimos aliquid blanditiis soluta odio officia nulla minus molestiae officiis itaque, dicta eius tenetur adipisci, illum architecto perferendis. Labore, placeat cum sequi suscipit ut, eum fuga natus quaerat eveniet ratione non rem qui ullam perferendis. Accusantium neque quod fugiat natus esse amet at ipsa voluptas ipsum, est non architecto.</p>
							<p class="small">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  ...</p>
						</div>
					</div>
				</div>
				<div class="aside"></div>
			</div>
			<aside class="aside-secondary"></aside>
		</div><!-- END SECTION -->

		<div class="separator">
			<img src="../img/separator.png" alt="Separator">
		</div>

		<div class="section"><!-- START SECTION -->
			<aside class="aside-main">
				<img class="aside-main__img" src="../img/quotes.jpg" alt="quotes">
			</aside>
			<div class="main-content">
				<div class="main-content__block">
					
					<p class="main-content__block--text medium"><span></span><i>Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you.</i></p>
				</div>
				<div class="aside"></div>
			</div>
			<aside class="aside-secondary"></aside>
		</div><!-- END SECTION -->

		<div class="separator">
			<img src="../img/separator.png" alt="Separator">
		</div>

		<div class="section"><!-- START SECTION -->
			<aside class="aside-main">
				<img class="aside-main__img" src="../img/link.jpg" alt="Image link">
			</aside>
			<div class="main-content">
				<div class="main-content__block">
					<div class="main-content__block--some-text">
						<p class="bigger">Some  of  the  best  freebies  on  the  web</p>
						<p class="small gray-light">
							<a href="#">www.bestpsdfreebies.com</a>
						</p>
						<p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto molestiae eos architecto tenetur temporibus corporis, consectetur, nobis fugiat recusandae blanditiis mollitia itaque ipsam quibusdam cupiditate dolorum sit tempora debitis reiciendis? Mollitia, enim?</p>
					</div>
				</div>
				<div class="aside"></div>
			</div>
			<aside class="aside-secondary"></aside>
		</div><!-- END SECTION -->

		<div class="separator">
			<img src="../img/separator.png" alt="Separator">
		</div>

		<div class="section"><!-- START SECTION -->
			<aside class="aside-main"></aside>
			<div class="section__nav">
				<div class="section__nav--list">1</div>
				<div class="section__nav--list">2</div>
				<div class="section__nav--list">3</div>
			</div>
			<aside class="aside-secondary"></aside>
		</div><!-- END SECTION -->

	</main><!-- END MAIN -->

</div><!-- END WRAPPER -->


{% endblock %}
